.container-post  {
    display: flex;
    flex-direction: row;

    .post {
        width: calc(75% - 50px);
        margin-left: 50px;

        .post-preview {
            cursor: pointer;
            margin: 0 30px;
            padding: 5px 30px;
            border: 1px dashed #CCCCCC;
        }

        .content-article {
            margin-top: 40px;
            text-align: justify;
        }

        .back a {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.2em;
            text-decoration: none;
        }

        .comments {
            margin-top: 2em;
        }
    }

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .info  {
        width: 25%;

        .sticky {
            position: sticky;
            top: 0;
            left: 0;
        }

        .last_posts, .top_posts {
            margin-left: 1.2em;
        }
    }
}
